<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function () {
        $("form").on("submit", function (event) {
            event.preventDefault();
            var formValues = $(this).serialize();
            $.post("/run_motor/drive", formValues, function (data) {
                $("#result").html(data);
            });
        });
    });
</script>

<div class='container'>
    <h2>Run Ethersweep</h2>
    <form>
        <p>
            <label>Motor IP:</label>
            <input type="text" id="ip_address" name="ip_address" value="192.168.1.60">
        </p>
        <p>
            <label>Drive Mode:</label>
            <label><input type="radio" value="0" name="drivemode" checked> Drive</label>
            <label><input type="radio" value="1" name="drivemode"> Home</label>
            <label><input type="radio" value="2" name="drivemode"> Ramp</label>
            <label><input type="radio" value="3" name="drivemode"> Servo</label>
            <label><input type="radio" value="4" name="drivemode"> Power Cycle</label>
        </p>
        <p>
            <label>Speed:</label>
            <input type="range" min="10" max="1000" value="300" class="slider" id="speed" name="speed"
                   oninput="this.nextElementSibling.value = this.value">
            <output>300</output>
            μs
        </p>
        <p>
            <label>Slope: (only in ramp mode)</label>
            <input type="range" min="0" max="100" value="100" class="slider" id="slope" name="slope"
                   oninput="this.nextElementSibling.value = this.value">
            <output>100</output>
            %
        </p>
        <p>
            <label>Steps:</label>
            <input type="range" min="1" max="6400" value="800" class="slider" id="steps" name="steps"
                   oninput="this.nextElementSibling.value = this.value">
            <output>800</output>
            steps
        </p>
        <p>
            <label>Stepmode: </label>
            <label><input type="radio" value="2" name="stepmode"> 1/2</label>
            <label><input type="radio" value="4" name="stepmode" checked> 1/4</label>
            <label><input type="radio" value="8" name="stepmode"> 1/8</label>
            <label><input type="radio" value="16" name="stepmode"> 1/16</label>
        </p>
        <p>
            <label>Direction:</label>
            <label><input type="radio" value="0" name="direction" checked> Left</label>
            <label><input type="radio" value="1" name="direction"> Right</label>
        </p>
        <p>
            <label>After execution:</label>
            <label><input type="radio" value="1" name="hold" checked> Hold</label>
            <label><input type="radio" value="0" name="hold"> Float</label>
        </p>
        <input type="submit" value="Drive!">
    </form>
    <code>
        <div id="result"></div>
    </code>
</div>
